 /* CSS */

 fieldset 
 {
    background-color: blanchedalmond;
    border: 2px solid black;
 }

 legend 
 {
     border: 2px solid black;
     background-color: burlywood;
     color: black;
     padding: 5px 10px;
 }
 input, select
 {
     width: 100%;
     border: 0.5px solid black;
 }

 /* all input boxes are the same size -  
 includes the padding and border in an element's total width and height 
 */
 *{
     box-sizing: border-box;
 }

 #submit, select, input
 {
     padding: 10px 15px;
     margin: 8px 0px;
     border-radius: 5px;
 }

 #submit 
 {
     width: 100%;
     background-color: burlywood;
     color: black;
     cursor: pointer;
     border: 0.5px solid black;
 }

 #submit:hover
 {
     background-color: rgb(207, 149, 73);
 }

 div 
 {
     border-radius: 5px;
     background-color: blanchedalmond;
     padding: 20px;
     width: 50%;
     margin: auto;
     border: 3px solid black;
 }

 #discount, #Final{
     padding: 15px;
     margin:10px;
     margin-left: 170px;
 }